appComponent started...
<br><br><br>

<!-- <div><b>Allow New Server Status:</b> {{allowedNewServer}}</div>

<app-server></app-server> -->

<!-- <label>Server Name</label>
<input type="text" class="form-control"
(input)="onServerNameUpdate($event)"
> -->

<!-- <br>
<label>Server Name</label>
<input type="text"
[(ngModel)]="serverName"
> -->

<!-- <p>{{serverName}}</p> -->


<!-- <button class='btn btn-primary' 
[disabled]="!allowedNewServer"
(click)="onCreateServer()">Add Server</button>

<p>{{serverCreationStatus}}</p>


<br><br><br> -->

<app-ass2></app-ass2>


appComponent END...