testing started...

<app-warningAlert></app-warningAlert>
<app-successAlert></app-successAlert>
<!-- <app-info-alert></app-info-alert> -->
<div id='app-info-alert'></div>

<div><b>Allow New Server Status:</b> {{allowedNewServer}}</div>

<button class='btn btn-primary' 
[disabled]="!allowedNewServer"
(click)="onCreateServer()">Add Server</button>

<p>{{serverCreationStatus}}</p>

<app-server></app-server>

<label>Server Name</label>
<input type="text" class="form-control"
(input)="onServerNameUpdate($event)"
>
<p>{{serverName}}</p>

testing END...